@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c203a2;
  --secondary-color: #d908f5;
  --background-color: #f8f9fa;
  --text-color: #333333;
  --accent-color: #ff6b6b;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-primary-color text-white;
}

.btn-primary:hover {
  @apply bg-blue-600;
}

.btn-secondary {
  @apply bg-secondary-color text-white;
}

.btn-secondary:hover {
  @apply bg-teal-400;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

.animation-delay-900 {
  animation-delay: 900ms;
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
